html,
body {
  background-color: #000;
  color: #fff;
}
.tiles {
  font-weight: bold;
  text-align: center;
}
.tiles-item {
  color: #fff;
  display: inline-block;
  width: 160px;
  height: 160px;
  padding: 8px;
  margin: 16px;
  text-align: left;
  vertical-align: middle;
}
.tile-img {
  margin-top: 10px;
  max-width: 110%;
  max-height: 110%;
}