body, .searchbar, .list-block ul, .list-block textarea, .list-block input, input, .login-screen-content, .messages-content, .messagebar textarea, .label-switch .checkbox::after {
	background-color: #000 !important;
	color: #fff !important;
}
.list-block .item-inner:after, .list-block ul:before, .list-block ul:after, .navbar:after, .toolbar:before, .searchbar:after {
	background-color: #666;
}
.page {
	background-color: #222;
}
.list-block .item-content.active-state {
	background-color: #555;
}
.message-received .message-text {
	background-color: #666;
	color: #fff;
}
.message-sent .message-text {
	background-color: #0b2;
	color: #000;
}
.actions-modal-button, .actions-modal-label {
	background-color: #444;
}
.navbar, .subnavbar, .toolbar {
	background-color: #111;
}
#attach-a>i {
	background-image: url(../img/attach-night.svg);
}