colors(bc, c)
  background-color bc
  color c

flex-center()
  align-items center
  display flex
  justify-content center

size(w, h = w)
  width w
  height h

absolute(x, y = x)
  position absolute
  left x
  top y