@import 'abbr'

html, body
  colors(#000, #fff)

.tiles
  text-align center

.tiles-item
  display inline-block
  margin 10px
  perspective 800px
  position relative
  size(200px)
  >div
    absolute(0)
    backface-visibility hidden
    background-color #222
    padding 20px
    size(160px)
    transition transform 0.5s
  &:hover
    >.tile-face
      transform rotateX(180deg)
    >.tile-back
      transform rotateX(360deg)

.tile-img
  margin-top 10px
  max-width 192px
  max-height 140px

.tile-back
  transform rotateX(180deg)

.tile-link
  float right